body {
    font-family: 'Roboto', sans-serif;
}

.name {
    text-align: center;
    margin-top: 30px;
}

.links {
    text-align: center;
}

.about {
    width: 620px;
    margin: 0 auto;
}

.about p {
    text-align: center;
}

.games h3 {
    text-align: center;
}

.games_container {
    width: 900px;
    margin: 0 auto;
}

.game {
    position: relative;
    width: 250px;
    height: 550px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.game.single {
    float: none;
    margin: auto;
    width: 350px;
}

.game .title {
    text-align: center;
    font-weight: bold;
}

.game p {
    text-align: center;
}

.game img {
    display: block;
    margin: auto;
    width: 240px;
    height: 175px;
}
